#
# This is not sourced during shell startup and is only used to configure zimfw.
#

zmodule environment
zmodule input
zmodule termtitle
zmodule utility

zmodule duration-info
zmodule git-info
zmodule asciiship
zmodule prompt-pwd
zmodule minimal

zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule direnv
zmodule exa
zmodule utility
zmodule homebrew
zmodule joke/zim-github-cli
zmodule antoineco/zim-zoxide

# Fish-like syntax highlighting for Zsh, must be sourced after completion.
zmodule zsh-users/zsh-syntax-highlighting

# Fish-like history search for Zsh, must be sourced after
# zsh-users/zsh-syntax-highlighting.
zmodule zsh-users/zsh-history-substring-search

# Fish-like autosuggestions for Zsh. Add the following to your ~/.zshrc to boost
# performance: ZSH_AUTOSUGGEST_MANUAL_REBIND=1
zmodule zsh-users/zsh-autosuggestions
